
<h3>Spread the Word</h3>

<div class="text-center">
  <span class='st_facebook_hcount' displayText='Facebook'></span>
  <span class='st_fblike_hcount' displayText='Facebook Like'></span>
  <span class='st_twitter_hcount' displayText='Tweet'></span>
  <span class='st_googleplus_hcount' displayText='Google+'></span>
  <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
  <span class='st_reddit_hcount' displayText='Reddit'></span>
  <span class='st_email_hcount' displayText='Email'></span>
</div>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "140f290f-705f-464a-ae08-e9449f8a718d", doNotHash: true});</script>
