@import url(//fonts.googleapis.com/css?family=Raleway:300,400,600);

html {
  font-size: 62.5%;
  background-color: #f5f5f5;
  margin:0;
  padding:0;
  height: 100%;
}

body {
  padding:0;
  margin:0;
  font: 1.6em Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-weight: 300;
  color:#444;
}

h1, h2, h3, h4, h5, h6 {
  color:#333;
  margin: 3px 0;
  font-weight: 400;
  line-height: 1.4;
}

p, ul, ol, table, pre, dl {
  margin:0 0 10px;
}

a {
  color: #39c;
  text-decoration: none;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 10px;
  font-style:italic;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size: 90%;
}

pre {
  padding: 5px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

img {
  max-width:100%;
  vartical-align: middle;
}

strong {
  color: #333;
  font-weight:600;
}

small {
  font-size:11px;
}

h1.title {
  font-size: 3.2rem;
}

.wrapper {
  position: relative;
  width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

header, article, footer,
.comments, .shares {
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
}

header {
  position: fixed;
  top: 0;
  margin-left: 770px;
  width: 250px;
}

main {
  width: 750px;
}

article, .shares, .comments {
  margin-bottom: 15px;
}

footer {
  margin-top: 5px;
  padding: 15px 10px;
  color: #777;
  font-size: 1.4rem;
}

.logo {
  text-align: center;
}

.logo img {
  max-width: 200px;
}

.post-info {
  color: #777;
  font-size: 1.3rem;
}

.post-card {
}

.pagination {
  padding: 10px 0;
  text-align: center;
}

.small {
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5;
}

.about ul {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.shares {
}

.text-center {
  text-align: center;
}

@media print, screen and (max-width: 800px) {
  body {
    word-wrap: break-word;
  }

  div.wrapper {
    width: auto;
    margin: 0;
  }

  header {
    position: static;
    margin-left: 0;
    width: auto;
    background-color: #f5f5f5;
    text-align: center;
  }

  header .about li {
    display: inline;
    padding: 0 5px;
  }

  header .recent-posts {
    display: none;
  }

  main {
    width: auto;
  }

}

@media print, screen and (max-width: 480px) {
  header .logo {
    display: none;
  }
}
